$igv-circview-font-face: 'Open Sans', sans-serif;
$igv-circview-toolbar-height: 32px;

.igv-circview-container {

  z-index: 2048;
  position: relative;

  box-sizing: content-box;

  border-color: dimgray;
  border-style: solid;
  border-width: thin;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  width: fit-content;
  height: fit-content;

  color: dimgray;
  font-family: $igv-circview-font-face;
  font-size: 12px;
  //font-weight: 700;

  background-color: white;
}

.igv-circview-toolbar {

  position: relative;
  width: 100%;
  height: $igv-circview-toolbar-height;

  background-color: lightgrey;

  border-bottom-style: solid;
  border-bottom-color: dimgray;
  border-bottom-width: thin;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}

.igv-circview-circular-genome-view {
}

.igv-circview-toolbar-button-container {

  height: 100%;
  width: fit-content;

  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  button {
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
  }

}

.igv-circview-track-panel {

  z-index: 1024;
  position: absolute;

  // need to account for toolbar bottom border width
  top: $igv-circview-toolbar-height + 1px;
  left:0;

  width: 100%;
  height: fit-content;

  border-bottom-style: solid;
  border-bottom-color: dimgray;
  border-bottom-width: thin;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  // track tools
  >div {
    width: 100%;
    height: fit-content;

    background-color: white;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    // Hide/Show | Set Color & Alpha
    >button {
      cursor: pointer;
      margin: 8px;
    }

    // track name
    >div {
      margin-left: 4px;
      vertical-align: middle;

      padding-left: 4px;
      padding-right: 4px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      height: fit-content;

    }
  }

  >div:hover {
    background-color: #f4f4f4;
  }

  .igv-circview-button {
    display:inline-block;
    color:#444;
    border:1px solid #8d8b8b;
    border-radius: 4px;
    background: rgb(239,239,239);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    padding: 5px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }
  .igv-circview-button:hover {
    background: rgb(239,239,239);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }
  .igv-circview-button:active {
    color: #007bff;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }
}
